<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    <title>Harbor International LLC</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main1.css' %}"
    />
    <script src=" {% static '../static/js/main1.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </head>

  <body>
    <div class="body-container">
      <header role="header" class="header-container">
        <ul class="nav-bar">
          <li class="home nav-bar-item"><a href="index.html">HOME</a></li>
          <li class="home nav-bar-item"><a href="index.html">ABOUT</a></li>

          <li class="locations nav-bar-item">
            <a href="/user/login">LOG IN</a>
          </li>
        </ul>
      </header>

      <section class="welcome-title">
        <div id="welcome-container">
          <p>WELCOME</p>
          <p>TO</p>
          <p>HARBOR INTERNATIONAL LLC</p>
        </div>
      </section>
      <section class="about">
        <p>We are a non-profit organization is structured to develop a child's</p>
        <ol>
          <li>Learning Confidence</li>
          <li>Study Habits</li>
          <li>Critical Thinking</li>
          <li>Learning Techniques</li>
        </ol>
      </section>
      <section class="subjects-taught-container">
        <ul class="subjects-taught">
          <li class="math subjects-taught-item">
            <p>PATIENCE</p>
          </li>
          <li class="reading subjects-taught-item">
            <p>EMPATHY</p>
          </li>
          <li class="science subjects-taught-item">
            <p>ACTIVE LISTENING</p>
          </li>
          <li class="science subjects-taught-item">
            <p>PROBLEM SOLVING</p>
          </li>
        </ul>
        <div class="mid-section">
          <div>
            <p class="tutor-skills">OUR TUTORS</p>
            <p class="tutor-skills">EXHIBIT</p>
          </div>
        </div>
        <ul class="subjects-taught">
          <li class="science subjects-taught-item">
            <p>ENCOURAGEMENT</p>
          </li>
          <li class="science subjects-taught-item">
            <p>PROBLEM SOLVING</p>
          </li>
          <li class="science subjects-taught-item">
            <p>COMMUNICATION</p>
          </li>
          <li class="science subjects-taught-item">
            <p>ENGAGMENT</p>
          </li>
        </ul>

        <ul class="subjects-taught">
          <li class="science subjects-taught-item">
            <p>ACUITY</p>
          </li>
          <li class="science subjects-taught-item">
            <p>CONFIDENCE</p>
          </li>
          <li class="science subjects-taught-item">
            <p>LEADERSHIP</p>
          </li>
        </ul>
      </section>
      <section class="enter">
        <a href="/user/signup"><p id="enter-container">SIGN UP</p></a>
      </section>
      <footer class="index">
        <p>Some Text</p>
      </footer>
    </div>
  </body>
  f
</html>
