<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Harbor International LLC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="assets/css/main.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/c84a7e6fa4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="body-container">
      <header role="header" class="header-container">
        <ul class="nav-bar">
          <li class="home nav-bar-item"><a href="index.html">HOME</a></li>
          <li class="about nav-bar-item">
            <a href="who_we_are.html">WHO WE ARE</a>
          </li>
          <li class="images nav-bar-item">
            <a href="services.html">SERVICES</a>
          </li>
          <li class="contact nav-bar-item">
            <a href="contact.html">CONTACT</a>
          </li>
          <li class="locations nav-bar-item">
            <a href="testimonials.html">TESTIMONIALS</a>
          </li>
        </ul>
      </header>
      <div role="main" class="testimonial-container">
        <h2>ACCOMPLISHMENTS</h2>
        <p>
          Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
          vitae est. Mauris placerat eleifend leo. Quisque sit amet est et
          sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
          commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
          tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus
          enim ac dui. Donec non enim in turpis pulvi
        </p>
      </div>

      <section class="accomplishments-container">
        <div class="accomplishment-item">PARENTS</div>
        <div class="accomplishment-item">SCHOOLS</div>
        <div class="accomplishment-item">COUNTIES</div>
        <div class="accomplishment-item">STATE</div>
        <div class="accomplishment-item">FEDERAL</div>
      </section>
      <section class="testimonial-container-parent">
        <div class="testimonial-header"></div>
        <div id="testimonial-body">
          <div class="name-location-container">
            <div class="name-container"></div>
            <div class="location-container"></div>
          </div>
          <i class="fas fa-quote-left"></i>
          <div class="message-container"></div>
          <i class="fas fa-quote-right"></i>
          <div class="prev-next-container">
            <div class="prev-next-buttons">
              <svg
                class="prev-page"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="32"
                height="32"
                fill="currentcolor"
              >
                <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
              </svg>
              <svg
                class="next-page"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="32"
                height="32"
                fill="currentcolor"
              >
                <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section class="photo-container">
        <div class="prev-next-container">
          <div class="prev-next-buttons">
            <svg
              class="prev-page"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="currentcolor"
            >
              <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
            </svg>
            <svg
              class="next-page"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="currentcolor"
            >
              <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
            </svg>
          </div>
        </div>
        <div class="photo-content"></div>
      </section>
    </div>
    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>-->
  </body>
</html>
