<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
  </head>
  <body>
    <div class="form-container sign-in-container">
      <form action="/user/login" method="POST">
        <h1>Sign in</h1>
        <div class="signin-messages-container">
          {% if signin_messages %}
          <ul class="signin_messages">
            {% for message in signin_messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
              {{message}}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% csrf_token %}
        <input type="email" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
  </body>
</html>
