<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Harbor International LLC</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/main.css' %}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src=" {% static '../static/js/main.js' %}"></script>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="/user/login" method="POST">
          <h1>Sign in</h1>
          <div class="signin-messages-container">
            {% if signin_messages %}
            <ul class="signin_messages">
              {% for message in signin_messages %}
              <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                {{message}}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% csrf_token %}
          <input type="email" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="form-container registration-form-container">
        <form action="/user/registration" method="POST">
          <h1>Register</h1>
          <div class="messages-container">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li
                {%
                if
                message.tags
                %}
                class="text-danger {{message.tags}}"
                {%
                endif
                %}
              >
                {{message}}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% csrf_token %}

          <input
            class="form-border"
            type="text"
            name="first_name"
            placeholder="First Name"
          />
          <input
            class="form-border"
            type="text"
            name="last_name"
            placeholder="Last Name"
          />

          {% if new_user.email in messages %}
          <input class="error" type="email" name="email" placeholder="Email" />
          {% else %}
          <input type="email" name="email" placeholder="Email" />
          {% endif %}
          <select name="math" class="form-border math-dropdown">
            <option value="">Select Math Option</option>
            <option value="Pre Algebra">Pre Algebra</option>
            <option value="Algebra">Algebra</option>
            <option value="Geometry">Geometry</option>
            <option value="Pre Calculus">Pre Calculus</option>
          </select>

          <select name="grade" class="form-border grade-dropdown">
            <option value="">Select a Grade</option>
            <option value="Freshman">Freshman</option>
            <option value="Sophmore">Sophmore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
          </select>

          <input
            class="form-border"
            type="password"
            name="password"
            placeholder="Password"
          />
          <input
            class="form-border"
            type="password"
            name="confirm_pw"
            placeholder="Confirm Password"
          />

          <button>Sign Up</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost signIn" id="signIn">Not a Member</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost signUp" id="signUp">
              Already a Member - Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--
      <div id="right-container">
        <h2>Login</h2>
        <form action="/user/login" method="POST">
          {% csrf_token %}
          <label for="email">Email</label> <input type="email" name="email" />
          <br />
          <label for="Password">Password</label>
          <input type="password" name="password" /> <br />
          <input type="submit" value="Log In" />
        </form>
      </div>
      -->
  </body>
</html>
